PORT=8080
MONGO_URI=mongodb://localhost:27017/job-tracker
JWT_SECRET=replace_me
JWT_EXPIRES_IN=1d
FRONTEND_URL=http://localhost:5173

AWS_ACCESS_KEY_ID=replace_me
AWS_SECRET_ACCESS_KEY=replace_me
AWS_REGION=eu-north-1
AWS_BUCKET_NAME=jobtracker-resumeuploads

SMTP_HOST=smtp.resend.com
SMTP_PORT=587
SMTP_USER=resend
SMTP_PASS=replace_me
EMAIL_FROM="Job Tracker <noreply@kanishkakhullar.dev>"
NODE_ENV=development
